<div class="d-flex full-height justify-content-center align-items-center">
  <form [formGroup]="resetForm" (ngSubmit)="reset($event)" class="pl-3 pr-3 pt-5 pb-5 card">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon2"><i class="fas fa-lock"></i></span>
      </div>
      <input type="password" class="form-control" id="password" formControlName="password" required placeholder="Password"
             aria-describedby="basic-addon2" [ngClass]="{'is-invalid': !resetForm.controls.password.valid && !resetForm.controls.password.pristine}">
      <div [hidden]="resetForm.controls.password.valid || resetForm.controls.password.pristine"
           class="alert-danger mt-2 card pl-2 pr-2 full-width">
        <div *ngIf="resetForm.controls.password.errors?.required">Password is required</div>
        <div *ngIf="resetForm.controls.password.errors?.minlength">Password minimum length must be {{resetForm.controls.password.errors?.minlength.requiredLength}}</div>
      </div>
    </div>

    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon03"><i class="fas fa-lock"></i></span>
      </div>
      <input type="password" class="form-control" id="confirm" formControlName="confirm" required placeholder="Confirm Password"
             aria-describedby="basic-addon03" [ngClass]="{'is-invalid': !resetForm.controls.confirm.valid && !resetForm.controls.confirm.pristine}"
             validateEqual="password" >
      <div [hidden]="resetForm.controls.confirm.valid || resetForm.controls.confirm.pristine"
           class="alert-danger mt-2 card pl-2 pr-2 full-width">
        <div *ngIf="!resetForm.controls.confirm.errors?.validateEqual">Passwords is not match</div>
      </div>
    </div>

    <button type="submit" class="btn btn-block btn-success">Reset Password</button>
    <div class="text-center mt-2"><a [routerLink]="['/auth/login']">Back To Login</a></div>
  </form>
</div>
