<div class="d-flex full-height justify-content-center align-items-center">
  <form [formGroup]="loginForm" (ngSubmit)="login($event)" class="pl-3 pr-3 pt-5 pb-5 card">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><i class="far fa-envelope"></i></span>
      </div>
      <input type="email" class="form-control" id="email"  formControlName="email" required placeholder="Email"
             aria-describedby="basic-addon1" [ngClass]="{'is-invalid': !loginForm.controls.email.valid && !loginForm.controls.email.pristine}">
      <div [hidden]="loginForm.controls.email.valid || loginForm.controls.email.pristine"
           class="alert-danger mt-1 card pl-2 pr-2 full-width">
            <div *ngIf="loginForm.controls.email.errors?.required">Email is required</div>
            <div *ngIf="loginForm.controls.email.errors?.pattern">Invalid Email</div>
      </div>
    </div>

    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon2"><i class="fas fa-lock"></i></span>
      </div>
      <input type="password" class="form-control" id="password" formControlName="password" required placeholder="Password"
             aria-describedby="basic-addon2" [ngClass]="{'is-invalid': !loginForm.controls.password.valid && !loginForm.controls.password.pristine}">
      <div [hidden]="loginForm.controls.password.valid || loginForm.controls.password.pristine"
           class="alert-danger mt-2 card pl-2 pr-2 full-width">
          <div *ngIf="loginForm.controls.password.errors?.required">Password is required</div>
          <div *ngIf="loginForm.controls.password.errors?.minlength">Password minimum length must be {{loginForm.controls.password.errors?.minlength.requiredLength}}</div>
      </div>
    </div>

    <button type="submit" class="btn btn-block btn-success">Login</button>
    <button type="button" class="btn btn-block btn-info" [routerLink]="['/auth/sign-up']">Sign Up</button>
    <div class="text-center mt-2"><a [routerLink]="['/auth/forgot']">Forgot Password?</a></div>
  </form>
</div>

