<div class="d-flex align-items-center bg-primary pl-2 pr-2 full-height" >
  <button class="btn btn-sm btn-primary" (click)="onBackBtnClick.emit($event)"><i class="fa fa-arrow-left"></i></button>
  <button class="btn btn-sm btn-primary ml-auto" (click)="toggleMenu()"><i class="fa fa-bars"></i></button>
</div>
