<div class="d-flex full-height justify-content-center align-items-center">
  <form [formGroup]="signUpForm" (ngSubmit)="signUp($event)" class="pl-3 pr-3 pt-5 pb-5 card">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon01"><i class="far fa-user"></i></span>
      </div>
      <input type="text" class="form-control" id="firstName"  formControlName="firstName" required placeholder="First Name"
             aria-describedby="basic-addon01" [ngClass]="{'is-invalid': !signUpForm.controls.firstName.valid && !signUpForm.controls.firstName.pristine}">
      <div [hidden]="signUpForm.controls.firstName.valid || signUpForm.controls.firstName.pristine"
           class="alert-danger mt-1 card pl-2 pr-2 full-width">
        <div *ngIf="signUpForm.controls.firstName.errors?.required">First Name is required</div>
      </div>
    </div>
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon02"><i class="far fa-user"></i></span>
      </div>
      <input type="text" class="form-control" id="lastName"  formControlName="lastName" required placeholder="Last Name"
             aria-describedby="basic-addon02" [ngClass]="{'is-invalid': !signUpForm.controls.lastName.valid && !signUpForm.controls.lastName.pristine}">
      <div [hidden]="signUpForm.controls.lastName.valid || signUpForm.controls.lastName.pristine"
           class="alert-danger mt-1 card pl-2 pr-2 full-width">
        <div *ngIf="signUpForm.controls.lastName.errors?.required">Last Name is required</div>
      </div>
    </div>
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><i class="far fa-envelope"></i></span>
      </div>
      <input type="email" class="form-control" id="email"  formControlName="email" required placeholder="Email"
             aria-describedby="basic-addon1" [ngClass]="{'is-invalid': !signUpForm.controls.email.valid && !signUpForm.controls.email.pristine}">
      <div [hidden]="signUpForm.controls.email.valid || signUpForm.controls.email.pristine"
           class="alert-danger mt-1 card pl-2 pr-2 full-width">
        <div *ngIf="signUpForm.controls.email.errors?.required">Email is required</div>
        <div *ngIf="signUpForm.controls.email.errors?.pattern">Invalid Email</div>
      </div>
    </div>

    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon2"><i class="fas fa-lock"></i></span>
      </div>
      <input type="password" class="form-control" id="password" formControlName="password" required placeholder="Password"
             aria-describedby="basic-addon2" [ngClass]="{'is-invalid': !signUpForm.controls.password.valid && !signUpForm.controls.password.pristine}">
      <div [hidden]="signUpForm.controls.password.valid || signUpForm.controls.password.pristine"
           class="alert-danger mt-2 card pl-2 pr-2 full-width">
        <div *ngIf="signUpForm.controls.password.errors?.required">Password is required</div>
        <div *ngIf="signUpForm.controls.password.errors?.minlength">Password minimum length must be {{signUpForm.controls.password.errors?.minlength.requiredLength}}</div>
      </div>
    </div>

    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon03"><i class="fas fa-lock"></i></span>
      </div>
      <input type="password" class="form-control" id="confirm" formControlName="confirm" required placeholder="Confirm Password"
             aria-describedby="basic-addon03" [ngClass]="{'is-invalid': !signUpForm.controls.confirm.valid && !signUpForm.controls.confirm.pristine}"
             validateEqual="password" >
      <div [hidden]="signUpForm.controls.confirm.valid || signUpForm.controls.confirm.pristine"
           class="alert-danger mt-2 card pl-2 pr-2 full-width">
        <div *ngIf="!signUpForm.controls.confirm.errors?.validateEqual">Passwords is not match</div>
      </div>
    </div>

    <button type="submit" class="btn btn-block btn-success">Sign Up</button>
    <div class="text-center mt-2"><a [routerLink]="['/auth/login']">Back to login</a></div>

  </form>
</div>

