<ngb-tabset type="pills" justify="justified">
  <ngb-tab><ng-template ngbTabTitle>
    <i class="fa fa-home mr-2"></i><b>Home</b>
  </ng-template></ngb-tab>
  <ngb-tab><ng-template ngbTabTitle>
    <i class="fa fa-address-book mr-2"></i><b>Contact-us</b>
  </ng-template></ngb-tab>
  <ngb-tab><ng-template ngbTabTitle>
    <i class="fa fa-comments mr-2"></i><b>Messenger</b>
  </ng-template></ngb-tab>
</ngb-tabset>
