<div *ngIf="splashScreen" class="d-block full-height full-width bg-primary">
  <div id="app-loading">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>
</div>
<div class="full-height full-width">
  <router-outlet (activate)="onActivateRoute($event)"></router-outlet>
</div>



