<div class="d-flex full-height justify-content-center align-items-center">
  <form [formGroup]="forgotForm" (ngSubmit)="sendEmail($event)" class="pl-3 pr-3 pt-5 pb-5 card">
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><i class="far fa-envelope"></i></span>
      </div>
      <input type="email" class="form-control" id="email"  formControlName="email" required placeholder="Email"
             aria-describedby="basic-addon1" [ngClass]="{'is-invalid': !forgotForm.controls.email.valid && !forgotForm.controls.email.pristine}">
      <div [hidden]="forgotForm.controls.email.valid || forgotForm.controls.email.pristine"
           class="alert-danger mt-1 card pl-2 pr-2 full-width">
        <div *ngIf="forgotForm.controls.email.errors?.required">Email is required</div>
        <div *ngIf="forgotForm.controls.email.errors?.pattern">Invalid Email</div>
      </div>
    </div>

    <button type="submit" class="btn btn-block btn-success">Send Email</button>
    <div class="text-center mt-2"><a [routerLink]="['/auth/login']">Back To Login</a></div>
  </form>
</div>

