/* You can add global styles to this file, and also import other style files */
html{
  height: 100%;
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

